.Back {
  width: 320px;
  margin: 1rem auto 0 auto;

  .Back__svg {
    display: inline;
    margin-right: 1rem;

    svg {
      width: 13px;
      height: 20px;
      fill: none;
    }
  }

  .Back__value {
    display: inline;
    position: relative;
    bottom: 4px;
    font-weight: 600;
  }
}
