.ButtonChoiceBlock {
  outline: none;
  position: relative;
  border: 2px solid $ButtonChoiceBlock;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 37px;
  padding-right: 37px;

  &__text {
    font-family: 'Golos', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    &-active {
      color: $buttonColorAdditional;
    }

    &-nonactive {
      color: black;
    }
  }
}

.ButtonChoiceBlock-active {
  background-color: $ButtonChoiceBlock;
}

.ButtonChoiceBlock-nonactive {
  background-color: $buttonColorAdditional;
}

.ButtonChoiceBlock:hover {
  background-color: $ButtonChoiceBlock;

  p {
    color: $buttonColorAdditional;
  }

  path {
    fill: $buttonColorAdditional
  }
}