.container {
  max-width: 328px;
  margin: 0 auto;
}

.registrationPage {
  margin-top: 32px;
  margin-bottom: 40px;

  &__title_wrap {
    margin-bottom: 32px;
  }
}

.form {
  &__main {
    width: 328px;
    background: #ffffff;
    border: 2px solid #80cfce;
    border-radius: 30px;
    padding: 32px 30px 26px;
    margin-bottom: 143px;

    & input {
      margin-bottom: 32px;
    }
  }
}

//.registrationPage {
//  padding-top: 32px;
//  padding-bottom: 40px;
//  display: flex;
//  flex-direction: column;
//
//  &__title {
//    font-weight: 400;
//    font-size: 24px;
//    line-height: 29px;
//    align-items: center;
//    text-align: center;
//    align-self: center;
//    font-feature-settings: 'pnum' on, 'lnum' on;
//    color: #000000;
//  }
//
//  &__main {
//    border: 2px solid #80CFCE;
//    border-radius: 30px;
//    background: #FFFFFF;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    padding: 32px 32px 66px;
//    margin-top: 32px;
//    margin-bottom: 143px;
//  }
//
//  &__form {
//    margin-top: 32px;
//  }
//}
//
//.form {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  text-align: center;
//}
