.comeBake {


  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;

    &:before {
      content: url("./comeBakeArrow.svg");
      top: 0;
      margin-right: 8px;
    }
  }
}