@mixin font_24_1 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100.5%;
}

@mixin font_24_2 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

@mixin font_24_3 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

@mixin font_24_4 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

@mixin font_18_1 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

@mixin font_18_2 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

@mixin font_14_1 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@mixin font_14_2 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

@mixin font_14_3 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@mixin font_14_4 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@mixin font_14_5 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
}

@mixin font_14_6 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

@mixin font_10_1 {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
}

